<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nexus-hosted" value="http://localhost:8081/repository/nuget-hosted/" />
  </packageSources>
  <packageSourceCredentials>
    <nexus-hosted>
      <add key="Username" value="admin" />
      <add key="ClearTextPassword" value="nexus@123" />
    </nexus-hosted>
  </packageSourceCredentials>
</configuration>